<h1>PRODUCTOS CARGADOS:</h1>
{{#each products}}
<ul>
    <li>{{title}}</li>
    <li>${{price}}</li>
    <li>{{desc}}</li>
</ul>
{{/each}}

<a href="/"> <button> VOLVER A CARGAR PRODUCTO </button> </a>